# npm
node_modules/

# mySQL root user password
mySQL.config.js

# front-end build
/public/bundle.js

# macOS/OSX
.DS_Store

# sample data
database/csv base data/listings-*.csv
database/csv base data/reservations-*.csv
